@import url('https://fonts.googleapis.com/css2?family=Anta&family=Grape+Nuts&family=Reddit+Mono:wght@200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Reddit Mono', monospace;
  scrollbar-width: none; /* Firefox */
}

html, body {
  height: 100%;
  width: 100%;
  color: white;
}

button, a {
  text-decoration: none;
  color: white;
}

button, a:hover {
  text-decoration: underline;
  color: rgb(6, 229, 58);
}

button {
  color: rgb(6, 6, 6);
}

/* Header */
header {
  width: 100%;
  max-width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 100;
  gap: 20px;
}

header a {
  margin-right: 10px;
}

/* Carousel */
.carousel {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin-top: -100px;
}

.carousel .list .item {
  position: absolute;
  inset: 0 0 0 0;
  animation: showimage 1s forwards;
}

.carousel .list .item img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 100vw;
  padding-right: 10%;
  color: white;
  text-shadow: 0 5px 10px black;
  opacity: 0;
  filter: blur(20px);
  transform: translateY(150px);
  animation: showcontent 1s forwards 0.5s;
}

.carousel .list .item .content .author {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}

.carousel .list .item .content .Title,
.carousel .list .item .content .Topic {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.3em;
}

.carousel .list .item .content .des {
  font-size: 25px;
  font-weight: 600;
}

.carousel .list .item .content .Topic {
  color: orangered;
}

.carousel .list .item .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 5px;
  margin-top: 30px;
  grid-template-rows: 50px;
}

.carousel .list .item .content .buttons button {
  border: none;
  letter-spacing: 10px;
  font-weight: bold;
  border-radius: 25px;
}

/* Thumbnail */
.thumbnail {
  position: absolute;
  bottom: 25px;
  left: 50%;
  max-width: max-content;
  z-index: 100;
  display: flex;
  gap: 35px;
  transform: translateX(-50%);
  animation: transformthumbnail 1s forwards;
}

.thumbnail .item {
  bottom: 23%;
  width: 150px;
  height: 270px;
  /* flex-shrink: 0; */
  /* position: relative; */
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  animation: showthumbnail 1s forwards 0.5s;
}

.thumbnail .item .content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: start;
  right: 10px;
  font-size: 25px;
  opacity: 0;
  animation: showcontent 1s forwards 1s;
}

.thumbnail .item .content .Title {
  font-weight: 900;
}

/* Arrow */
.arrow {
  position: absolute;
  cursor: pointer;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80%;
  left: 13%;
  gap: 20px;
}

.arrow button {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  font-family: monospace;
  font-size: 50px;
  font-weight: 600;
  color: rgb(251, 247, 247);
  cursor: pointer;
  transition: 0.5s;
  z-index: 100;
}

.arrow button:hover {
  background-color: rgb(196, 194, 194);
  color: gray;
}

/* Keyframes and Animations */
@keyframes showcontent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

@keyframes showimage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
  }
}

@keyframes showthumbnail {
  to {
    width: 200px;
  }
}

@keyframes transformthumbnail {
  to {
    transform: translateX(0);
  }
}

@keyframes outimage {
  to {
    width: 650px;
    height: 900px;
    bottom: 250px;
    left: 50%;
    border-radius: 25px;
  }
}

@keyframes contentOut {
  to {
    transform: translateY(-150px);
    filter: blur(20px);
    opacity: 0;
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  header {
    height: 150px;
    flex-direction: column;
    gap: 20px;
  }

  .carousel .list .item .content .author {
    font-size: 20px;
  }

  .carousel .list .item .content .Title,
  .carousel .list .item .content .Topic {
    font-size: 80px;
  }

  .carousel .list .item .content .des {
    font-size: 20px;
  }

  .thumbnail .item {
    width: 300px;
    height: 400px;
  }

  .arrow {
    width: 100px;
  }

  .arrow button {
    height: 50px;
    width: 50px;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .carousel .list .item .content {
    padding-right: 0;
  }

  .carousel .list .item .content .Title,
  .carousel .list .item .content .Topic {
    font-size: 40px;
  }

  .carousel .list .item .content .author {
    font-size: 15px;
  }

  .carousel .list .item .content .des {
    font-size: 15px;
  }

  .carousel .list .item .content .buttons {
    grid-template-columns: repeat(2, 120px);
    gap: 2px;
    margin-top: 20px;
    grid-template-rows: 40px;
  }

  .thumbnail .item {
    width: 250px;
    height: 350px;
  }

  .thumbnail .item .content {
    font-size: 20px;
  }

  .arrow {
    top: 85%;
    left: 8%;
  }

  .arrow button {
    height: 40px;
    width: 40px;
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  header {
    height: 100px;
    flex-direction: column;
    gap: 10px;
  }

  .carousel .list .item .content .Title,
  .carousel .list .item .content .Topic {
    font-size: 30px;
  }

  .carousel .list .item .content .author {
    font-size: 10px;
  }

  .carousel .list .item .content .des {
    font-size: 10px;
  }

  .carousel .list .item .content .buttons {
    grid-template-columns: repeat(2, 100px);
    gap: 1px;
    margin-top: 10px;
    grid-template-rows: 30px;
  }

  .thumbnail .item {
    width: 150px;
    height: 200px;
  }

  .thumbnail .item .content {
    font-size: 15px;
  }

  .arrow {
    top: 90%;
    left: 5%;
  }

  .arrow button {
    height: 30px;
    width: 30px;
    font-size: 20px;
  }
}
