
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Grape+Nuts&family=Reddit+Mono:wght@200..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Reddit Mono ;
  scrollbar-width:  none; /* Firefox */
}
html ,body{
  /* background-color: black; */
  height:100%;
  width: 100%;
  color: white;
  /* font-size: 60px; */
}

 button,a{
  text-decoration: none;
  color: white;
  font-size: 60px;
}
 button,a:hover{
  text-decoration: underline;
  color: rgb(6, 229, 58);
  font-size: 60px;
}
 button{
  text-decoration: none;
  color: rgb(6, 6, 6);
  font-size: 60px;
}

header{
  /* background-color: brown; */
    width: 30%;
    max-width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 100;
    gap: 40px;
}

header a{
  margin-right: 110px;
}

/* carousel */

.carousel{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin-top: -200px;
}
.carousel .list .item{
  position: absolute;
  inset:0 0 0  0;

}
.carousel .list .item img{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.carousel .list .item .content{
  position: absolute;
  max-width: 80%;
  top:  50%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding-right: 30% ;
  box-sizing: border-box;
  color: white;
  text-shadow: 0 5px 10px black;
  /* text-align: left; */
}


.carousel .list .item .content .author{
  text-transform: uppercase;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 20px;
}


.carousel .list .item .content .Title,
.carousel .list .item .content .Topic{
  font-size: 240px;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .content .des{
  font-size: 50px;
  font-weight: 600;
}


.carousel .list .item .content .Topic{
  color: orangered;
}
.carousel .list .item .content .buttons{
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 5px;
  margin-top: 90px;
  grid-template-rows: 90px;

}

.carousel .list .item .content .buttons{
  border: none;
  letter-spacing: 20px;
  font-weight: bold;
  gap: 40px;
}


.carousel .list .item .content .buttons :nth-child(2){
  background-color: transparent;
  color: rgb(251, 243, 243);
  border: 2px solid rgb(142, 146, 142);
  border-radius: 50px;
}
.carousel .list .item .content .buttons :nth-child(1){
  background-color: transparent;
  color: rgb(251, 243, 243);
  border: 2px solid rgb(142, 146, 142);
  border-radius: 50px;
}


/* thumbnail */

.thumbnail{
  position: absolute;
  bottom: 240px;
  left: 50%;
  max-width: max-content;
  z-index: 100 ;
  display: flex;
  gap:70px;
}

.thumbnail .item{
  width: 650px;
  height: 920px;
  flex-shrink:0 ;
  position: relative;

}


.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.thumbnail .item .content{
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-family: 'Poppins', sans-serif;
  text-align: start;
  right: 10px;
  font-size: 70px;
}

.thumbnail .item .content .Title{
  font-weight: 900;
}


/* arrow */

.arrow{
  position: absolute;
  cursor: pointer;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items:center;
  top: 80%;
  left:13%;
 /* background-color: blueviolet; */
  max-width: 30%;
  gap: 40px;
}

.arrow button{
  height: 130px;
  width:130px ;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  font-family: monospace;
  font-size: 100px;
  font-weight: 600;
  color: rgb(251, 247, 247);
  cursor: pointer;
  transition: 0.5s;
  z-index: 100;

}
.arrow button:hover{
  background-color: rgb(196, 194, 194);
  color: gray;
}

.carousel .list .item:nth-child(1){
  z-index: 1;
}

.carousel.next .list .item:nth-child(1).author,
.carousel.next .list .item:nth-child(1).Title,
.carousel.next .list .item:nth-child(1).Topic,
.carousel.next .list .item:nth-child(1).des,
.carousel.next .list .item:nth-child(1).buttons{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation:showcontent 0.5s 1s linear 1 forwards ;
}


@keyframes showcontent{
   to{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
   }
} 

.carousel .list .item:nth-child(1).Title{
  animation-delay: 1.3s;
}
.carousel .list .item:nth-child(1).Topic{
  animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1).des{
  animation-delay: 1.6s;
}
.carousel .list .item:nth-child(1).buttons{
  animation-delay: 1.8s;
}


/* effect next click */

.carousel.next .list .item:nth-child(1) img{
  width: 650px;
  height: 920px;
  position: absolute;
  left: 50%;
  bottom: 250px;
  border-radius: 35px;
  animation: showimage 0.5s linear normal forwards;

}

@keyframes showimage {
  to{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-child(4){
  width: 0;
  overflow: hidden;
  animation: showthumbnail 0.5s linear 1 forwards;
}

@keyframes showthumbnail {
  to{
    width: 650px;
  }
}

.carousel.next .thumbnail {
  transform: translateX(150px);
  animation: transformthumbnail 0.5s linear 1 forwards;
}

@keyframes transformthumbnail {
  to{
    transform: translateX(0);
  }
  
}

/* effect privious click */

.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
  position: absolute;
  bottom: 0%;
  left: 0%;
  animation: outimage 0.5s 1s linear 1 forwards;
}


@keyframes outimage {
  to{
    width: 650px;
    height: 900px;
    bottom: 250px;
    left: 50%;
    border-radius: 25px;
  }
}


.carousel.prev .list .item:nth-child(1) img{
 width: 0;
 overflow: hidden;
 opacity: 0;
 animation: showthumbnail 0.5s linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .Title,
.carousel.prev .list .item:nth-child(2) .content .Topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.8s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}
